<div class="client_command">
  <div class="title">
    <h2>Client Command</h2>
  </div>
  <div class="container">
    <div class="list">
      <ng-container *ngIf="list_one.length <= 0">
        <h3>(Drag and drop back in)</h3>
      </ng-container>
      <ng-container *ngIf="list_one.length > 0">
        <h3>List One</h3>
      </ng-container>
      <div class="list_one" [sortablejs]="list_one" [sortablejsOptions]="options">
        <ng-container *ngIf="list_one.length > 0">
          <div *ngFor="let item of list_one" class="list-item {{ item.counter >= 5 ? 'ignore' : '' }}" [attr.data-ng-name]="item.name">
            <div class="item_image">
              <img [src]="'src/assets/' + item.img_path">
            </div>
            <span class="item_name">{{ item.name }}</span>
            <span class="item_counter">{{ item.counter }}</span>
            <div class="list_selector">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="list">
      <ng-container *ngIf="list_two.length <= 0">
        <h3>(Drag and drop back in)</h3>
      </ng-container>
      <ng-container *ngIf="list_two.length > 0">
        <h3>List Two</h3>
      </ng-container>
      <div class="list_two" [sortablejs]="list_two" [sortablejsOptions]="options">
        <ng-container *ngIf="list_two.length > 0">
          <div *ngFor="let item of list_two" class="list-item {{ item.counter >= 5 ? 'ignore' : '' }}" [attr.data-ng-name]="item.name">
            <div class="item_image">
              <img [src]="'src/assets/' + item.img_path">
            </div>
            <span class="item_name">{{ item.name }}</span>
            <span class="item_counter">{{ item.counter }}</span>
            <div class="list_selector">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
